body{

    background-color: #06060a;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

form{

    width: 400px;

    background-color: rgb(139, 138, 137);

    padding: 132px;
    margin: 50px auto;

    border: 4px solid #cfcccc;
    border-radius: 20px;

}

label{

    font-weight: bold;

}

input{

    width: 100%;
    padding: 12px;
    margin-bottom: 12px;    
    
}