body{

    background-color: #aaa7c9;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

form{

    width: 400px;

    background-color: bisque;

    padding: 20px;
    margin: 50px auto;

    border: 1px solid #a17777;
    border-radius: 10px;

}

label{

    font-weight: bold;

}

input{

    width: 100%;
    padding: 10px;
    margin-bottom: 15px;    
    
}